%section.mod-content
  %h1 Welkom bij Bistro Jan Goos

  %p Sinds 1 april zijn wij weer open, elke dag vanaf 11:00 uur. Met een nieuw team hopen we u hier snel eens te ontvangen.

  %p De website is nog in ontwikkeling. Maar het menu staat online en we werken er hard aan meer informatie en andere bijzonderheden toe te voegen.

  %p Wil je tussentijds op de hoogte blijven? We zijn ook op Facebook te vinden. En kom anders gewoon eens langs.

  %footer Tim van de Konijnenburg
