%section.mod-info
  %h2 Openingstijden
  %p We zijn elke dag geopend van 11:00 - 22:00 uur.
  %p De keuken is van 11:00 - 16:00 uur geopend voor lunch. Dineren kan van 17:00 tot 22:00 uur.
  %hr

  %h2 Contactgegevens
  %p
    Ons adres is:
    %br
    Parkhaven 9
    %br
    8242&nbsp;PE Lelystad

  %p
    Ons telefoonnummer is: 06&nbsp;-&nbsp;28&nbsp;69&nbsp;70&nbsp;18.
    %br
    %em Let op: de vaste lijn is (voorlopig) niet meer in gebruik.

  %hr

  = image_tag 'map.png', :class => 'map', :alt => 'Bistro Jan Goos on Google Maps'

  %hr

  %p
    En we hebben een pagina op
    = link_to 'facebook', 'https://www.facebook.com/pages/Jan-Goos/633295966687480?fref=ts'
    !
