%section.mod-menu
  %header
    %h2
      Lunch
      %span van 11:00 tot 16:30 uur
    %p Alle lunchgerechten worden geserveerd met wit of bruin boerenbrood

  %dl
    %dt
      Uitsmijter
      %span met kaas, spek of ham &euro;&nbsp;0,50 per item extra
    %dd &euro;&nbsp;5,75

    %dt
      Boerenomelet
      %span met ham, kaas en groenten
    %dd &euro;&nbsp;6,50

    %dt
      Kroketten
      %span twee Van Dobben kroketten met Zaanse mosterd
    %dd &euro;&nbsp;6,50

    %dt
      Carpaccio
      %span met pesto, pijnboompitten en Parmezaanse kaas
    %dd &euro;&nbsp;7,50

    %dt
      Gerookte zalm
      %span met verse eiersalade en bieslook
    %dd &euro;&nbsp;7,50

    %dt
      Gezond
      %span met jonge of oude kaas, ham, ei, tomaat en komkommer
    %dd &euro;&nbsp;6,50

    %dt
      Geitenkaas
      %span met honing, tijm, walnoten en rucola
    %dd &euro;&nbsp;6,50

  %header
    %h2
      Salades en Pasta's
      %span de hele dag

  %dl
    %dt
      Salade Caprese
      %span Italiaanse klassieker met buffelmozzarella, tomaat en pesto
    %dd &euro;&nbsp;9,75

    %dt
      Salade polderhoen
      %span met spek, pijnboompitten en Parmezaanse kaas
    %dd &euro;&nbsp;9,75

    %dt
      Salade zalm
      %span gerookte zalm met dilledressing
    %dd &euro;&nbsp;9,75

    %dt
      Linguine (dunne lintpasta)
      %span met parmaham, rucola, asperge, buffelmozzarella in een fijne tomatensaus
    %dd &euro;&nbsp;14,50

    %dt
      Penne
      %span met gerookte zalm, spinazie, champignons en dragon
    %dd &euro;&nbsp;14,50

  %header
    %h2
      Plate gerechten
      %span vanaf 13:00 uur
    %p Alle plate gerechten worden geserveerd met pasta a&iuml;oli, gepofte aardappel of friet

  %dl
    %dt
      Spare ribs
      %span met een ma&iuml;skolf, cocktail- en knoflooksaus
    %dd &euro;&nbsp;16,50

    %dt
      Hamburger Jan Goos
      %span huisgemaakte hamburger met ananas, spek en BBQ-saus
    %dd &euro;&nbsp;13,75

    %dt
      Kipsat&eacute;
      %span Royale kipspies met sat&eacute;saus en kroepoek
    %dd &euro;&nbsp;15,75

    %dt
      Lamsspies
      %span Spies van lamsgehakt met ui en paprika en een frisse tzaziki
    %dd &euro;&nbsp;15,75

    %dt
      Scholfilet
      %span met remouladesaus
    %dd &euro;&nbsp;15,75

    %dt
      Zalmfilet
      %span met spinazie en pasta a&iuml;oli
    %dd &euro;&nbsp;15,75

  %h2
    Borrelapjes
    %span vanaf 13:00 uur

  %dl
    %dt
      Amsterdams borrelgarnituur
      %span verschillende typisch Amsterdamse borrelhapjes
    %dd &euro;&nbsp;7,50

    %dt
      Yakitori
      %span kipspiesjes op Oosterse wijze gemarineerd
    %dd &euro;&nbsp;5,50

    %dt
      Bitterballen
      %span met Zaanse mosterd
    %dd &euro;&nbsp;5,50

    %dt
      Buffalo wings
      %span pittige kippenvleugels met blue cheese-dip en BBQ-saus
    %dd &euro;&nbsp;6,50

    %dt
      Gamba's
      %span gefrituurd in gesponnen tarwe
    %dd &euro;&nbsp;5,50

    %dt
      Broodplankje
      %span met tzatziki, kruidenboter en tapenade
    %dd &euro;&nbsp;4,75

  %h2 Voor de kinderen

  %dl
    %dt Kindermenu
    %dd &euro;&nbsp;7,50
    %dd.list
      Friet en appelmoes met:
      %ul
        %li frikandel
        %li kroket
        %li kibbeling
        %li Buffalo wings
        %li spare ribs, of
        %li sat&eacute;
      en een ijsje toe!

  %h2
    Voorgerechten
    %span vanaf 17:00 uur

  %dl
    %dt
      Pappa al pomodoro
      %span huisgemaakte tomatensoep
    %dd &euro;&nbsp;6,50

    %dt
      Clam chowder
      %span stevige soep met verse zeevruchten
    %dd &euro;&nbsp;6,50

    %dt
      Gemarineerde groenten
      %span diverse gemarineerde groenten met een mousse van geitenkaas
    %dd &euro;&nbsp;7,50

    %dt
      Ham en meloen
      %span klassieke combinatie van Parmaham en Galiameloen
    %dd &euro;&nbsp;7,50

    %dt
      Carpaccio
      %span dungesneden ossehaas met Parmezaanse kaas, pesto en pijnboompitten
    %dd &euro;&nbsp;9,75

  %h2
    Hoofdgerechten
    %span vanaf 17:00 uur

  %dl
    %dt
      Entrecote
      %span runderentrecote met Bearnaisesaus
    %dd &euro;&nbsp;19,75

    %dt
      Polderhoen
      %span polderhoenpoot met balsamico-marinade
    %dd &euro;&nbsp;17,75

    %dt
      Zeebaars
      %span op de huid gebakken zeebaarsfilet met tomatensalsa
    %dd &euro;&nbsp;17,75


    %dt
      Vangst van Jan Goos
      %span vis van de dag
    %dd dagprijs

  %h2
    Desserts
    %span vanaf 17:00 uur

  %dl
    %dt
      Cr&egrave;me Catalana
      %span huisgemaakte custard met sinaasappel
    %dd &euro;&nbsp;5,75

    %dt
      Ananas
      %span gemarineerde ananas met basilicumroomijs
    %dd &euro;&nbsp;6,75

    %dt
      Sorbet
      %span Vers fruit met sorbetijs
    %dd &euro;&nbsp;6,75

    %dt
      Dame Blanche
      %span boerenroomijs met gesmolten chocolade
    %dd &euro;&nbsp;5,75
